.swiper {
  position: relative;
  height: 212px;
  .search-box {
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 0 10px;
    // 左侧白色区域
    .search {
      flex: 1;
      height: 34px;
      margin: 0 10px;
      padding: 5px 5px 5px 8px;
      border-radius: 3px;
      background-color: #fff;
      // 位置
      .location {
        .icon-arrow {
          margin-left: 2px;
          font-size: 12px;
          color: #7f7f80;
        }
      }
      // 表单
      .form {
        border-left: 1px solid #e5e5e5;
        margin-left: 12px;
        line-height: 16px;
        .icon-search {
          vertical-align: middle;
          padding: 0 2px 0 12px;
          color: #9c9fa1;
          font-size: 15px;
        }
        .text {
          padding-left: 4px;
          font-size: 13px;
          color: #9c9fa1;
        }
      }
    }
    // 右侧地图图标
    .icon-map {
      font-size: 25px;
      color: #fff;
    }
  }
}

.nav {
  padding: 10px 0;
  .am-flexbox-item {
    text-align: center;
  }
  img {
    width: 48px;
    height: 48px;
  }
  h2 {
    margin-top: 7px;
    font-size: 13px;
    font-weight: normal;
  }
}

.group {
  overflow: hidden;
  background-color: #f1f1f1;
  h3 {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 0;
    .more {
      float: right;
      font-size: 13px;
      color: #888;
    }
  }
  .group-item {
    height: 80px;
    .desc {
      .title {
        margin: 5px;
        font-weight: 600;
      }
      .info {
        display: block;
        color: #888;
        margin: 5px;
      }
    }
    img {
      width: 60px;
      height: 60px;
      margin-left: 15px;
    }
  }
  .am-grid .am-flexbox {
    background-color: inherit;
  }
  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
    padding: 5px;
    padding-bottom: 10px;
  }
  .am-flexbox-align-stretch {
    margin-bottom: 10px;
    .am-grid-item {
      margin-right: 10px;
      background-color: #fff;
    }
    .am-grid-item:first-child {
      margin-left: 10px;
    }
  }
}


// news
.news {
  h3.title {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 0;
  }
  .news-item {
    height: 120px;
    padding: 7px;
    border-bottom: 2px solid #fafafa;
    img {
      width: 40%;
      height: 100px;
    }
    .desc {
      position: relative;
      height: 80px;
      padding-left: 10px;
      h3 {
        margin: 0;
      }
      span {
        position: absolute;
        bottom: 0;
        color: #bbb;
      }
      span:first-child {
        left: 0;
      }
      span:last-child {
        right: 0;
      }
    }
  }
}