.citylist {
  height: 100%;
  padding-top: 45px;
  .navbar {
    margin-top: -45px;
  }
  .city {
    .title {
      padding: 10px;
      color: #aaa;
    }
    .name {
      padding: 15px 10px;
      border-bottom: 1px solid #eee;
    }
  }
  .city-index {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 99;
    .city-index-item {
      margin-top: 10px;
    }
    .city-index-item>span {
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: #eee;
      line-height: 17px;
      text-align: center;
      font-size: 12px;
      &.index-active {
        background-color: #21b97a;
        color: #fff;
      }
    }
  }
}