html,
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

/* 为了让地图撑起来 */
html,
body,
#root,
.App {
  height: 100%;
}